@import '_main.scss';

@font-face {
  font-family: ARCO;
  src: url('../fonts/ARCO_for_OSX.otf');
}

@font-face {
  font-family: bubble;
  font-weight: 300;
  src: url('../fonts/Bobbleboddy.woff');
}

@font-face {
  font-family: balsamiq;
  src: url('../fonts/BalsamiqSans-Regular.woff');
}

@font-face {
  font-family: bobblebodythin;
  src: url('../fonts/BobbleboddyThin.woff');
}

@font-face {
  font-family: bobblebodylight;
  font-weight: 300;
  src: url('../fonts/BobbleboddyLight.woff');
}

.arco-font {
  font-family: ARCO;
}

.bobble-font {
  font-family: bubble;
}

.balsamiq-font {
  font-family: balsomiq;
}

.bobblethin {
  font-family: bobblebodythin;
}

.bobblelight {
  font-family: bobblebodylight;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #c6bcbe;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}


.bugsnax-color {
  color: #df1516
}

.grumpus-color {
  color: #a845af
}

.tools-color {
  color: #f8df37
}

.sauce-color {
  color: #7fc86e
}

.quest-color {
  color: #234b89
}

.nav-bg {
  background-color: rgb(37, 20, 3)
}