@import '_main.scss';

@font-face {
  font-family: ARCO;
  src: url('../fonts/ARCO_for_OSX.otf');
}

@font-face {
  font-family: bubble;
  src: url('../fonts/Bobbleboddy.woff');
}

@font-face {
  font-family: balsamiq;
  src: url('../fonts/BalsamiqSans-Regular.woff');
}

.arco-font {
  font-family: ARCO;
 font-weight: 400;
}

.arco-font-shadow {
  color: #ffffff; 
  text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.9),   
    -2px -2px 4px rgba(0, 0, 0, 0.9), 
    0 0 6px rgba(0, 0, 0, 0.7);       
}
.pic-boarder{
  outline-color:  #ffffff;
  text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.9),   
    -2px -2px 4px rgba(0, 0, 0, 0.9), 
    0 0 6px rgba(0, 0, 0, 0.7); 
}

.bobble-font {
  font-family: bubble;
}

.balsamiq-font {
  font-family: balsomiq;
}


#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}


  .bugsnax-color{
    color: #df1516
  }

  .grumpus-color{
    color: #a845af
  }

  .tools-color{
    color: #f8df37
  }

  .sauce-color{
    color: #7fc86e
  }

  .quest-color{
    color: #234b89
  }
  
  .nav-bg{
    background-color: rgb(37, 20, 3)
  }

  


